{% extends "parks/basePark.html.twig" %}

{% block content %}

{% for message in app.flashes("success") %}
<p></p>
{% endfor %}
<h2>Listado de parques</h2>
    <div class="row row-cols-1 row-cols-md-2">
    {% for park in parks %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem">
            <img src="{{ park.image }}" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ park.name }}</h5>
                <p class="card-text">Superficie: {{ park.area }}</p>
                <p class="card-text">Año de creación: {{ park.age }}</p>
                <a href="{{ path("showPark", {id:park.id}) }}" class="btn btn-primary">Más Info</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
