{% extends "parks/basePark.html.twig" %}

  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ park.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ park.image }}" />
      </div>
      <div class="col">
        <div class="row">
            Descripción: {{ park.description }}
        </div>
        <div class="row">
          Superficie: {{ park.area }}
        </div>
        <div class="row">
        Año de creación: {{ park.age }}
        </div>
        <div class="row">
          <ul>Distrito :
            {% for district in park.districts %}
            <li>{{ district.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
