{% extends "parks/basePark.html.twig" %}

  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ park.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ park.image }}" />
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            Descripción: {{ park.description }}
            Superficie: {{ park.area }}
            Año de creación: {{ park.age }}
          </div>
        </div>
        <div class="row">
          <ul>
            
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
